<section class="post">
    <div class="section-header">
        <h3>Comments</h3>
    </div>
    <div class="section-body">
        <form id="edit-comment-form">
        <label for="title"></label>
        <input type="text" value="{{comment.text}}" name="title" id="title">
        <p>– {{comment.user.username}}, {{format_date comment.createdAt}}</p>
        <input class="edit-post" data-id="{{comment.id}}" type="submit">Update Comment</input>
        </form>
        <button class="edit-post" data-id="{{comment.id}}" id="delete">Delete Comment</button>
    </div>
</section>

<script src="/js/edit-comment.js"></script>